<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="/flot"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
            </li>
            <li>
                <a href="/tables"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="https://skyuniquizz.herokuapp.com/"><i class="fa fa-edit fa-fw"></i> Survey</a>
            </li>
            <li>
                <a href="https://skyunimeeting.herokuapp.com/"><i class="fa fa-sitemap fa-fw"></i> Meeting</a>
            </li>
            <li>
                <a href="https://skyunisketch.herokuapp.com/"><i class="fa fa-edit fa-fw"></i> Sketch</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>